* {
    margin: auto;
    padding: 0;
    border: 0;
    font-family: "Cambria", Times, serif;
    max-width:100%;
    box-sizing: border-box;
}
h1 {
    font-size: 32px;
    padding: 12px;
}
div {
    text-align: center;    
}
iframe {
    text-align: center;    
}