* {
    margin: auto;
    padding: 12px;
    border: 0;
    font-family: "Cambria", Times, serif;
    max-width:100%;
}
html {
    padding: 0;
}
body {
    padding: 0;
}
h1 {
    font-size: 32px;
}
div {
    text-align: center;
    
}